<header class="header-6">
    <div class="branding">
        <a href="..." routerLink="" class="nav-link">
            <span class="title">Home</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="..." routerLink="register" class="active nav-link"><span class="nav-text">Register</span></a>
        <a href="..." routerLink="login" class="active nav-link"><span class="nav-text">Login</span></a>
        <a href="..." routerLink="logged" class="active nav-link"><span class="nav-text">Logged Test</span></a>
    </div>
</header>

